@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('ttf');
}

.navbar {
  font-family: Montserrat-Regular;
}

.header {
  text-align: center;
}

.home {
  font-family: Montserrat-Regular;
}

th, td {
  font-size: 12px;
}

.sheetMusic {
  background: black;
}

h2 {
  text-align: center;
}